<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>

    <div class="picsum-img-wrapper">
      <img [src]="images[0]" class="img-fluid mx-auto d-block" alt="Cake">
    </div>
    <div class="carousel-caption">
      <h3>Cake</h3>
      <p></p>
    </div>

  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[1]" class="img-fluid mx-auto d-block" alt="HotChocolate">
    </div>
    <div class="carousel-caption">
      <h3>HotChocolate</h3>
      <p></p>
    </div>

  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[2]" class="img-fluid mx-auto d-block" alt="Hamburger">
    </div>
    <div class="carousel-caption">
      <h3>Hamburger</h3>
      <p></p>
    </div>

  </ng-template><ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[3]" class="img-fluid mx-auto d-block" alt="Pizza">
    </div>
    <div class="carousel-caption">
      <h3>Pizza</h3>
      <p></p>
    </div>

  </ng-template><ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[4]" class="img-fluid mx-auto d-block" alt="IceCream">
    </div>
    <div class="carousel-caption">
      <h3>IceCream</h3>
      <p></p>
    </div>

  </ng-template>
</ngb-carousel>
