<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/Industry.png"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Noel Madigan</h3>
      </div>

      <div class="text-center">nmadigan@industrial-integration.com</div>
      <div class="text-center">
        <a href="http://industrial-integration.com">www.industrial-integration.com</a>
      </div>
    </div>
  </div>
</div>
